html {
    height: 100%;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;

    font-family: Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color: #4f0014;

    background-color: #fde1e8;

    background-image: url("background.svg");
    background-size: cover;

    font-size: 1.2em;
}

.glass {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0.5rem);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px white;
}

.wrapper {
    padding: 2em 4em 4em;
    border-radius: 2em;

    margin: calc(1em + 7%);
}


a {
    color: #9c2744;

    text-decoration: underline;
}

a:hover,
a:focus {
    color: #ad267e;
    text-decoration: none;
}
