html {
    height: 100%;
}

body {
    /* height: 100%; */
    /* width: 100%; */
    font-size: 24px;
    /* padding: 0; */
    /* margin: 0 */

    font-family: Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color: #4f0014;

    /* do this but properly with flex or something */
    margin: 3em 6em;

    background-color: #fde1e8;

    background-image: url("background.svg");
    background-size: cover;
}

.glass {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(4rem);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px white inset;
}

.wrapper {
    padding: 2em;
    border-radius: 2em;
}

a {
    color: #9c2744;

    text-decoration: underline;
}

a:hover,
a:focus {
    color: #ad267e;
    text-decoration: none;
}
