* {
    box-sizing: border-box;
}


html {
    /* removed to fix margin issue */
    /* height: 100%; */
    font-size: 16px;

    background: #fde1e8 url(background.svg) no-repeat center center fixed;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;

    font-family: Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color: #4f0014;
    font-size: 1.2em;
}

/* @TODO test on more screen sizes, switch to intrinsic sizing if possible */
@media only screen and (max-width: 325px) {
    html {
        font-size: 14px;
    }

    body {
      font-size: 1.1em;
    }
}

.glass {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0.5rem);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px white;
}

.wrapper {
    padding: calc(0.1em + 5%) calc(0.3em + 5%) calc(0.3em + 5%);
    margin: calc(1em + 5%);

    border-radius: 2em;
}

/* @TODO set up variables for colours */
a {
    color: #9c2744;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #ad267e;
    text-decoration: none;
}

a:focus,
a:focus-visible {
    outline: 2px dotted #4f0014;

    /* glass styles -- @TODO make this a mixin */
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0.5rem);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px white;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: right;

    font-size: 0.8em;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 1em;
}

nav li a {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 1em;

    font-weight: 500;
}

nav li a:hover,
nav li a:focus {
    /* Override glass styles so the button looks "pressed" */
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px white;
    background-image: none;
}
